# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Cinema Room Manager/*
!/Cinema Room Manager/task/
/Cinema Room Manager/task/*
!/Cinema Room Manager/task/src

# Project exclude paths
/Topics/Array exceptions/Calculate Square/out/
/Topics/Array exceptions/Calculate Square/out/production/classes/
/Topics/Array exceptions/Out of bounds/out/
/Topics/Array exceptions/Out of bounds/out/production/classes/
/Topics/Boolean type and operations. True and false/Evaluating the conjunction of two booleans/out/
/Topics/Boolean type and operations. True and false/Evaluating the conjunction of two booleans/out/production/classes/
/Topics/Break and continue. Branching/Even or odd/out/
/Topics/Break and continue. Branching/Even or odd/out/production/classes/
/Topics/Calling methods/Call me awesome/out/
/Topics/Calling methods/Call me awesome/out/production/classes/
/Topics/Calling methods/Product and rounded average of two integers/out/
/Topics/Calling methods/Product and rounded average of two integers/out/production/classes/
/Topics/Comparing values. Relational operators/Check the sum/out/
/Topics/Comparing values. Relational operators/Check the sum/out/production/classes/
/Topics/Comparing values. Relational operators/Groundhogs at a party/out/
/Topics/Comparing values. Relational operators/Groundhogs at a party/out/production/classes/
/Topics/Conditional statement/Healthy sleep/out/
/Topics/Conditional statement/Healthy sleep/out/production/classes/
/Topics/Conditional statement/Leap year/out/
/Topics/Conditional statement/Leap year/out/production/classes/
/Topics/Declaring methods/Find the max of three numbers/out/
/Topics/Declaring methods/Find the max of three numbers/out/production/classes/
/Topics/Declaring methods/Sum of numbers in the range/out/
/Topics/Declaring methods/Sum of numbers in the range/out/production/classes/
/Topics/For-loop/Arithmetic average/out/
/Topics/For-loop/Arithmetic average/out/production/classes/
/Topics/For-loop/Generate an inverted pyramid from asterisks/out/
/Topics/For-loop/Generate an inverted pyramid from asterisks/out/production/classes/
/Topics/For-loop/Grades/out/
/Topics/For-loop/Grades/out/production/classes/
/Topics/For-loop/Squaring odd numbers in a sequence/out/
/Topics/For-loop/Squaring odd numbers in a sequence/out/production/classes/
/Topics/Formatted output/Creating a personalized greeting based on name and height/out/
/Topics/Formatted output/Creating a personalized greeting based on name and height/out/production/classes/
/Topics/Formatted output/The battle for Mathematics/out/
/Topics/Formatted output/The battle for Mathematics/out/production/classes/
/Topics/Functional decomposition/Calculator with four methods/out/
/Topics/Functional decomposition/Calculator with four methods/out/production/classes/
/Topics/Functional decomposition/Method createFullName/out/
/Topics/Functional decomposition/Method createFullName/out/production/classes/
/Topics/Integer types and operations/Difference of times/out/
/Topics/Integer types and operations/Difference of times/out/production/classes/
/Topics/Integer types and operations/Tens digit/out/
/Topics/Integer types and operations/Tens digit/out/production/classes/
/Topics/Iterating over arrays/The index of the first max in an array/out/
/Topics/Iterating over arrays/The index of the first max in an array/out/production/classes/
/Topics/Iterating over arrays/Two numbers never occur next to each other/out/
/Topics/Iterating over arrays/Two numbers never occur next to each other/out/production/classes/
/Topics/Multidimensional array/Create cube/out/
/Topics/Multidimensional array/Create cube/out/production/classes/
/Topics/Multidimensional array/Find the corners/out/
/Topics/Multidimensional array/Find the corners/out/production/classes/
/Topics/Multidimensional array/Reverse elements/out/
/Topics/Multidimensional array/Reverse elements/out/production/classes/
/Topics/Multidimensional array/Rotate a rectangle array/out/
/Topics/Multidimensional array/Rotate a rectangle array/out/production/classes/
/Topics/Multiple conditions  switch/Decoding traffic signal colors from input codes/out/
/Topics/Multiple conditions  switch/Decoding traffic signal colors from input codes/out/production/classes/
/Topics/NullPointerException/Avoid NPE with strings/out/
/Topics/NullPointerException/Avoid NPE with strings/out/production/classes/
/Topics/NullPointerException/Safe conversion of input into a string/out/
/Topics/NullPointerException/Safe conversion of input into a string/out/production/classes/
/Topics/One-line condition with ternary operator/Determining Fizz, Buzz, or FizzBuzz for a number/out/
/Topics/One-line condition with ternary operator/Determining Fizz, Buzz, or FizzBuzz for a number/out/production/classes/
/Topics/Primitive and reference types/Creating a reference type/out/
/Topics/Primitive and reference types/Creating a reference type/out/production/classes/
/Topics/Primitive and reference types/Determine the type of the input number/out/
/Topics/Primitive and reference types/Determine the type of the input number/out/production/classes/
/Topics/Reading user's input with Scanner/Greet user with their name and age/out/
/Topics/Reading user's input with Scanner/Greet user with their name and age/out/production/classes/
/Topics/Reading user's input with Scanner/Guest list of a hotel/out/
/Topics/Reading user's input with Scanner/Guest list of a hotel/out/production/classes/
/Topics/Reading user's input with Scanner/Rounding down and squaring a floating point number/out/
/Topics/Reading user's input with Scanner/Rounding down and squaring a floating point number/out/production/classes/
/Topics/Switch expression/Days of the week/out/
/Topics/Switch expression/Days of the week/out/production/classes/
/Topics/Switch expression/Meteorological seasons/out/
/Topics/Switch expression/Meteorological seasons/out/production/classes/
/Topics/Type casting/Rounding down a halved float value to an integer/out/
/Topics/Type casting/Rounding down a halved float value to an integer/out/production/classes/
/Topics/While and do-while loops/The sum of elements/out/
/Topics/While and do-while loops/The sum of elements/out/production/classes/